<%= link_to "⬅︎ Go Back", :back %>
<%= link_to "Back to all Lists", lists_path %>
<h1> Show Page / Details Page</h1>
<h2>List Name: "<%= @list.name %>"</h2>
<p>Created at:<%= @list.created_at %></p>
<ul>
  <% @list.movies.each do |movie| %>
    <br>
    <h3><%= movie.title %></h3>
    <p><%= movie.overview %></p>
    <p>Rating: <%= movie.rating %></p>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <p>Your comment: <%= bookmark.comment %></p>
    <%= link_to "Delete", list_bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list?"}, class: 'text-danger' %>
    <br>
  <% end %>
</ul>
<p><em>Wanna add another Movie to this List?</em></p>
<%= link_to "Add Bookmark", new_list_bookmark_path(@list), class: "btn btn-primary" %>
